<div class="row">
  <div class="col-xs-5">
    <h1>
      Student info
    </h1>
    <div id="left">
      <div class="student-details">
        <p class="student-situation"><%= @student.situation %></p>
        <p class="student-address"><%= @student.formatted_address %></p>
      </div>
      <div id="map" data-markers="<%= @markers.to_json %>">
      </div>
    </div>
  </div>
  <div class="col-xs-7">
    <h1>
      Lessons
      <i class="new-lesson fas fa-plus-circle fa-sm" data-toggle="modal" data-target="#newLesson"></i>
    </h1>
    <div id="right">
      <% @lessons.each do |lesson| %>
        <%= render partial: "shared/lesson", locals: { student: @student, lesson: lesson } %>
      <% end %>
    </div>
  </div>
</div>

<!-- modal -->
<div class="modal fade" id="newLesson" tabindex="-1" role="dialog" aria-labelledby="newLessonLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title highlight-red" id="newLessonLabel">New lesson for <%= @student.name %></h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@student, @newLesson] do |f| %>
          <%= f.input :theme %>
          <%= f.input :description %>
          <%= f.input :date %>
          <%= f.submit "Save new lesson", class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
