<div class="col-xs-12 col-sm-6">
  <div class="lesson">
    <div class="lesson-category">
      <p><%= lesson.theme %></p>
    </div>
    <div class="lesson-date">
      <p><%= lesson.date.strftime("%a %b") + " " + lesson.date.day.ordinalize %></p>
    </div>
    <div class="lesson-description">
      <p class="highlight-red">Description</p>
      <p><%= lesson.description %><p>
    </div>
    <div class="lesson-buttons">
      <ul class="list-inline">
        <li class="lesson-button">
          <%= link_to edit_student_lesson_path(student, lesson) do %>
            <p><i class="far fa-edit"></i></p>
          <% end %>
        </li>
        <li class="lesson-button">
          <%= link_to student_lesson_path(student, lesson), method: :delete do %>
            <p><i class="far fa-trash-alt"></i></p>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
