<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a53f6ccb2fccd80ae7f6c6af8f289319&auto=format&fit=crop&w=500&q=60');">
  <div class="banner-content">
    <h1>Tutor Planner</h1>
    <p>Plan your lessons and travel. Done</p>
    <% if user_signed_in? %>
      <% if current_user.students.count.zero? %>
        <div class="btn btn-danger btn-lg" data-toggle="modal" data-target="#newStudentModal">
          Add a student
        </div>
      <% else %>
        <%= link_to student_path(@student) do %>
          <div class="btn btn-danger btn-lg">Review your students</div>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to new_user_registration_path do %>
        <div class="btn btn-danger btn-lg">Sign up</div>
      <% end %>
    <% end %>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="newStudentModal" tabindex="-1" role="dialog" aria-labelledby="newStudentLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title highlight-red" id="newStudentLabel">Add new student</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for @newStudent do |f| %>
          <%= f.input :name %>
          <%= f.input :address %>
          <%= f.input :situation %>
          <%= f.submit "Save new student", class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
